body{
	position: absolute;
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
}



#sidebar {
	
	position: fixed;
	
	height: 100%;
	width: 260px;
	
	background-color: #f2f2f2;
	
	overflow-y: scroll;
	
			overflow-x: hidden;

	
	-webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1);
	

	
}

#main_panel {
	
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 77%;
	min-width: 600px;
	height: 100%;
	
	

	/*
	background-color: #FFF;
	*/
	
	
}


#perfil {

	width: 100%;
	height: auto;

	
}

#foto_perfil {
	
	height: auto;
	width: 100%;

	
}

#nombre_perfil {	
	
	position: static;
	
	width: auto;
	height: auto;
	
	padding: 2px;
	padding-top: 2px;
		
	line-height: 27px;
	
	font-size: 22px;
	font-family: Roboto; 
	
	text-align: center;
	
	color: #525252;
	
	
}

#direccion_perfil {
	
	position: static;
	
	width: auto;
	height: auto;
	
	text-decoration: none;
	
	padding: 4px;
	
	line-height: 20px;
	
	font-size: 15px;
	font-family: RobotoCondensed Light; 
	
	text-align: center;
	
	color: #525252;
	
	
	
}


#mas_info {
	
	position: static;

	height: 20px;
	width:auto;
	

	
	margin:10px 100px;
	
	border-radius: 20px;
	
	text-align: center;
	font-size: 20px;
	line-height: 10px;
	
	color:#5a5a5a;

	

	
}

#mas_info:hover 
{
	
	background-color: #e0e0e0;

}

#mas_info:active 
{
	color: #FFF;
	background-color: #9b9b9b;

}





#timeline {
	position: absolute;
	
	margin-top: 44px;


	left:260px; 
	
	width: auto;
	height: 100%;
	
	
	
	
}

#activity {
	
	position: relative;
	margin: 10px;
	border-radius: 4px;
	width: auto;
	height: auto;
	
	padding-bottom: 12px;
	
	background-color: #FFF;
	
		
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	
	 -webkit-transition: box-shadow 2s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}



#titulo_activity {
	position: static;
	
	width: auto;
	

	padding: 6px 10px;
	padding-bottom: 3px;
	
	font-family: RobotoCondensed Light;
	font-size: 25px;
	
	

	color:#6ec616;
}

#subtitulo_activity {
	
	
	position: static;
	
	width: auto;


	padding-left: 10px;
	padding-bottom: 2px;
	
	font-family: RobotoCondensed Light;
	font-size: 15px;
	
	
	color: #525252;


}



#fecha_activity {
	
	position:static;

	margin-left: auto;
	margin-right: auto;
	width: 47px;
	height: 47px;
	
	border-radius: 5px;
	border-color: #525252;
	border-width: 2px;
	border-style:solid;
	
	
}



#descripcion_activity {
	
	position: static;
	
	width: auto;
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;

	
	
	font-size: 13px;
	font-family: Roboto;
	text-align: justify;
	text-align-last: left;
	
	
	color: #525252;
	
	
	
}

#fotos_activity {
	
	position: relative;

	width: auto;
	height: 0px;
	
	margin: 10px;
	margin-bottom: 0px;
	

}

#header_activity {
	
	position: static;
	
	width: 100%;
	height: 75px;
	
	
	
	table-layout: fixed;
	border-spacing: 3px;

	
}

#content_activity {
	
	position: static;
	
	width: 100%;
	height: auto;
	
}



#separator_perfil {
	
	position: relative;
	width: 80%;
	
	
}

#foto2 {
	position: static;
	
	float: left;
	width: 146px;
	height: 90px;
	margin: 3px;
	
	background-color: #0ff;
	
}

#table_fotos {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	
}




#categoria_titulo_activity {
	
	padding-left: 20px;
	font-family: RobotoCondensed Light;
	text-align: left;
	
	font-size: 18px;
	
	color: #6ec616;
	
	
}







#intereses {
	
	width: 87%;
	height: 90px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	
	table-layout:fixed;
	border-spacing: 0px;
	
	
}

#separator_habilidades {

	width: 80%;
}

.titulo_interes {
	font-family:RobotoCondensed Light;
	text-align: center;
	
	background-color: transparent !important;
	background-image: none !important; 
}



.icono_interes {
	
	background-position: center;
	background-size:30px auto;
	background-repeat: no-repeat;
	
	width:56px;
	height: 56px;
	
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 28px;
	
	
	
}





#icono_interes_salud {
	
	
	background-image: url("../../recursos/imgs/salud_white.png");

	background-color: #62a9df;
	
	
}



#icono_interes_educacion {
	
	
	background-image: url("../../recursos/imgs/educacion_white.png");

	background-color: #e0a635 ;
}


#info_extra_perfil {
	position: relative;
	
	width: auto;
	height: 0px;
	
	margin: 1px 0px;
	
	overflow: hidden;
	
}





#habilidades {
	margin: 10px 0px;
	height: auto;
}

#polygraph_surface {
	
	
	width: 260px;
	height: 200px;
	
}









#edad_perfil {
	
	position: static;
	
	width: auto;
	height: auto;
	
	padding: 6px 10px;
		
	
	font-size: 12px;
	font-family: RobotoCondensed; 
	
	text-align: center;
	
	color: #525252;
	
	overflow: hidden;
	
	text-overflow: ellipsis;
	
	word-wrap: normal;
	
}

#light {
	font-family: RobotoCondensed Light;
}

.foto_perfil_container {
	
	
	position: static;
	
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	height:100px;
	width: 100px;
	border-radius: 51px;
	
	/*
	
	background-position: center;
	background-size: contain;
	
	background-image: url("../../recursos/imgs/baruch.jpg");
*/
	
	border-style: solid;
	border-color: #FFF;
	border-width: 2px;
	
	overflow: hidden;
	
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	
}

.foto {
	
	position: absolute;
	width: 100%;
	height: auto;
	
	top:-10%;
	
	

}

#SPP1 {
	
	position: absolute;
	

	
	overflow: hidden;
	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
}

#SPP2 {
	position: relative;


	
		overflow: hidden;
	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);

	
}

#SPP3 {
	position: relative;
	

	
		overflow: hidden;

	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.32);
	
}

#perfil_mobile {
	display: none;
}

#info_extra_perfil_mobile {
	
	display: none;
	

	
}



#mobile_habilidades_separator {
	display: none;
}

#mobile_separator {
	display: none;
}



#interes_salud {
	
	color: #62a9df;
	
}

#interes_medio_ambiente {
	color: #27c177;
}

#interes_educacion {
	color: #e0a635;
}

#polygraph_container {
	
	position: static;
	
	width: 260px;
	height: 200px;
	
	margin: 0px auto;
	
}





#botones_perfil {
	
	width: 100%;
	height: auto;
	table-layout: fixed;
	
	
}

.boton {
	
	position: static;
	
	height: auto;
	width: auto;
	
	margin: 10px 20px;
	padding: 3px;

	font-family: "RobotoCondensed Light";
	font-size: 12px;

	
	text-align: center;
	
	color: #fff;
	border-radius: 100px;
	
	background-color: rgba(0,0,0,0.2);
	
}

.boton:hover {
		
	background-color: rgba(0,0,0,0.3);
	
}

.boton:active {
		
	background-color: rgba(0,0,0,0.4);
	
}

#estrellas_perfil {
	padding: 8px;
	text-align: center;
	
	
	
}

.active_star {
	color: #0089ff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.inactive_star {
		color: #0089ff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#descripcion {
	
	position: static;
	
	padding:  4px 20px;
	
	font-family: "RobotoCondensed Light";
	font-size: 13px;
	
	line-height: 17px;
	
	text-align: justify;
	
}

#contacto {
	
	position: static;
	
	padding: 13px 20px;

	
	font-family: "RobotoCondensed Light";
	font-size: 13px;
	
	line-height: 17px;
	
	text-align: justify;
	
	
}

.titulo_interes_secundario {
	
	font-family:"RobotoCondensed Light";
	text-align: center;
	font-size: 14px;
	
	color: #777;
}

.icono_interes_secundario {
	
	background-position: center;
	background-size:18px auto;
	background-repeat: no-repeat;
	
	width:40px;
	height: 40px;
	
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 28px;
	
	
	background-color: #969696 !important;
}

#intereses_secundarios {
	
	width: 100%;
	height: 70px;
	
	margin-left: auto;
	margin-right: auto;

	
	table-layout:fixed;
	border-spacing: 0px;
	
}

#portada {
	height: 190px;
	overflow: hidden;
	
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	

	-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

#foto_portada {
	height: auto;
	width: 100%;
}

#visitar_button {
	position: relative;
	z-index: 2;
	display: block;
	height: 40px;
	width: auto;
	
	text-decoration: none;
	
	text-align: center;
	
	font-family: "RobotoCondensed Light";
	
	
	line-height: 40px;
	
	border-radius: 4px;
	
	margin: 0px 13px;
		margin-top: 10px;

	
	color:  #fff;
	
	background-color: #27c177;
}
#visitar_button:hover {
	
	-webkit-box-shadow: inset 0px 50px 0px 0px rgba(255,255,255,0.2);
-moz-box-shadow: inset 0px 50px 0px 0px rgba(255,255,255,0.2);
	
box-shadow: inset 0px 50px 0px 0px rgba(255,255,255,0.2);


}

#visitar_button:active {
	
	-webkit-box-shadow: inset 0px 50px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 0px 50px 0px 0px rgba(0,0,0,0.2);
	
box-shadow: inset 0px 50px 0px 0px rgba(0,0,0,0.2);


}

